.board-game {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
}
.board-game__buttons {
  display: flex;

  justify-content: space-around;
}
.board-game__button {
  padding: 10px;
  font-size: 32px;
  min-width: 100px;
  text-align: center;
  align-items: center;
  margin: 0 10px;
}
.board-game__button--rock {
  background-color: black;
  color: white;
}
.board-game__button--paper {
  background-color: white;
  color: black;
}
.board-game__button--scissors {
  background-color: #ccc;
  color: black;
}
.board-game__result {
  border: 1px solid black;
  padding: 10px;
  margin-top: 40px;
  font-size: 16px;
}
